<service-group>
    <name replace-wildcards='yes'>%h</name>
    <service>
        <type>_zipa._tcp</type>
        <port>5005</port>
    </service>
</service-group>